@model WebApplication2.Models.paynamentMethods

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>paynamentMethods</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BIK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.korr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.korr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.users.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users.login)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
